.nav-layout, .footer 
{background:pink;
height: 13vh;
margin-bottom:10px; 
margin-top: 10px;
}


.lina{ background:pink;
height:30vh; }

.girly{ display: flex        flex-direction:row;
        margin-top:10px;
        gap: 5px;
    }


.girly > div {
	background: pink;
	height: 25vh;
	 width: 33%; 
}